<%= form_for @material, html: { multipart: true } do |f| %>
  <% if @material.errors.any? %>
    <div>
      <%= pluralize(@material.errors.count, "error") %> prevented this material from being submitted:
      <ul>
        <% @material.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :release_date %><br>
    <%= f.date_field :release_date %>
  </div>
  <div>
    <%= f.label :director %><br>
    <%= f.text_field :director %>
  </div>
  <div>
    <%= f.label :runtime_in_minutes %><br>
    <%= f.number_field :runtime_in_minutes %>
  </div>
  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :poster_image %><br>
    <%= f.file_field :poster_image %>
    <% if f.object.poster_image? %>
      <%= image_tag f.object.poster_image.thumbnail.url %>
      <%= f.label :remove_poster_image %>
      <%= f.check_box :remove_poster_image %>
    <% end %>
  </div>
  <div>
    <%= f.submit "submit" %>
  </div>
<% end %>
