<%= link_to "Back to all materials", materials_path %><br/>

<%= link_to image_tag(@material.poster_url), material_path(@material) %>
<h2><%= @material.title %> (<%= link_to "edit", edit_material_path(@material) %>, <%= link_to "delete", material_path(@material), method: :delete, data: {confirm: "Are you sure you'd like to delete this?"} %>)</h2>
<h3><%= formatted_date(@material.release_date) %></h3>
<h4>Dir. <%= @material.director %> | <%= @material.runtime_in_minutes %> minutes</h4>
<p><%= @material.description %></p>

<hr>

<h3>Reviews of <em><%= @material.title %></em></h3>
<% if current_user %>
  <% @material.reviews.each do |review| %>
    <p><%= review.text %></p>
    <p><%= review.rating_out_of_ten %>/10</p>
    <small>- <%= review.user.email %></small><br/>
  <% end %>
  <p><%= link_to "Write a review!", new_material_review_path(@material) %></p>
<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to see reviews and add your own.</p>
<% end %>
